<template x-if="$store.settings.showUnsafe || !setting.unsafe">
    <div class="item" :class="{ 'unsafe': setting.unsafe }">
        {% include 'modals/settings/field_widgets.html' %}

        <!-- Object list (e.g. MCP server cards) -->
        <template x-if="setting.type === 'object_list'">
            <div class="row">
                <div class="object-list-field">
                    <div class="array-header">
                        <label x-text="setting.title"></label>
                        <span class="description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
                    </div>

                    <div class="object-list">
                        <template x-for="(item, index) in (setting.value || [])" :key="index">
                            <div class="object-list-card">
                                <div class="object-list-card-head">
                                    <span class="object-list-card-title"
                                          x-text="(item.name && item.name.value) || ((setting.item_label || 'item') + ' ' + (index + 1))"></span>
                                    <button type="button" class="remove"
                                            @click="updateSetting(setting, setting.value.filter((_, i) => i !== index))"
                                            title="Remove">×</button>
                                </div>
                                <div class="object-list-card-body">
                                    <template x-for="fieldKey in Object.keys(setting.item_schema || {})" :key="fieldKey">
                                        <template x-if="item[fieldKey] && ($store.settings.showUnsafe || !item[fieldKey].unsafe)">
                                            <div class="item"
                                                 :class="{ 'unsafe': item[fieldKey].unsafe }"
                                                 x-show="checkItemDependency(item, item[fieldKey].depends)"
                                                 x-data="{ setting: item[fieldKey] }">
                                                {% include 'modals/settings/field_widgets.html' %}
                                            </div>
                                        </template>
                                    </template>
                                </div>
                            </div>
                        </template>

                        <template x-if="!setting.value || setting.value.length === 0">
                            <span class="empty-hint" x-text="'No ' + (setting.item_label || 'item') + 's yet. Add one below.'"></span>
                        </template>

                        <button type="button" class="add object-list-add"
                                @click="updateSetting(setting, [...(setting.value || []), defaultObjectListItem(setting.item_schema)])"
                                x-text="'Add ' + (setting.item_label || 'item')"></button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
